* {
	/*border: 1px solid;*/
}
.bold_hr {
	border:  1em solid black;
}
.medium_hr {
	border:  0.5em solid black;
}
#test {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
/*	align-content: flex-start;*/
	width: 850px;
	height: 200px;
	min-width: initial;
}
.first_col {
	width: 600px;
	height: 50px;
}
.second_col {
	width: 120px;
	height: 50px;
}
.third_col {
	width: 120px;
	height: 50px;
}